@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;

  margin: 30px auto;

  min-height: 300px;

  overflow: auto;

  padding: 30px;

  font-weight: bold;
}

.Login h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Inter";
  font-size: 3rem;
}

.form-control {
  margin: 20px;
  width: 100%;
  padding: 3px 5px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}

#password {
  margin-bottom: 2vh;
  width: 50%;
}

#ConfPass {
  margin-bottom: 2vh;
  width: 50%;
}

#Email {
  margin-bottom: 2vh;
  width: 50%;
}

#username {
  margin-bottom: 2vh;
  width: 50%;
}

.SignUpPage h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Inter";
  font-size: 3rem;
}

.SignUpPage {
  width: 100%;
}

#email {
  display: flex;
  justify-content: center;
}

#Username {
  display: flex;
  justify-content: center;
}

#Password {
  display: flex;
  justify-content: center;
}

#ConfPassword {
  display: flex;
  justify-content: center;
}

#Password1 {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

#Username1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

#DHAA {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 5px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.57);
}

#Header {
  display: flex;
  justify-content: space-between;
  background-color: lightskyblue;
}

.MainPage {
  margin: 0;
  padding: 0;
}

#Search {
  width: 30%;
  margin-top: 5px;
  margin-bottom: 2px;
}

#Header h2 {
  font-family: "Inter";
  padding: 10px 15px;
  font-size: 1.5rem;
}
