@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;

  height: 100vh;

  overflow: auto;

  font-weight: bold;

  background-color: lightskyblue;
}

.Login h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Inter";
  font-size: 3rem;
  background-color: lightskyblue;
}

.form-control {
  margin: 20px;
  width: 100%;
  padding: 3px 5px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}

#password {
  margin-bottom: 2vh;
  width: 50%;
}

#ConfPass {
  margin-bottom: 2vh;
  width: 50%;
}

#Email {
  margin-bottom: 2vh;
  width: 50%;
}

#username {
  margin-bottom: 2vh;
  width: 50%;
}

.SignUpPage h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Inter";
  font-size: 3rem;
}

.SignUpPage {
  width: 100%;
}

#email {
  display: flex;
  justify-content: center;
}

#Username {
  display: flex;
  justify-content: center;
}

#Password {
  display: flex;
  justify-content: center;
}

#ConfPassword {
  display: flex;
  justify-content: center;
}

#Password1 {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

#Username1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

#DHAA {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 5px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.57);
}

#Header {
  display: flex;
  justify-content: space-between;
  background-color: lightcyan;
  padding: 10px;
}

.MainPage {
  margin: 0;
  padding: 0;
}

#Search {
  width: 30%;
  margin-top: 5px;
  margin-bottom: 2px;
}

#Header h2 {
  font-family: "Inter";
  padding: 10px 15px;
  font-size: 1.7rem;
}

#SignOutLink {
  text-decoration: none;

  padding: 10px 15px;
  font-size: 1.3rem;
  color: black;
}

#SignUpBtnLink {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#LoginLink {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#ConfSignLink {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#GoBackLink {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#MyFeed {
  text-decoration: none;
  padding: 10px;
  font-size: 1.3rem;
  color: black;
}

#CreatePost {
  text-decoration: none;
  padding: 10px;
  font-size: 1.3rem;
  color: black;
}

#Submit {
  background-color: green;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

.Home {
  background-color: lightskyblue;
}

.Login {
  background-color: lightskyblue;
}

.SignUpPage {
  background-color: lightskyblue;
}

#Header {
  border-bottom: 2px solid black;
}

#t {
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
}

.Posts {
  display: flex;
  justify-content: center;
  padding: 20px 15px;
}

#Search {
  border-radius: 20px;
  padding: 10px;
}

.Posts img {
  border-radius: 45px;
  /* border: 3px solid lightskyblue; */
}

#Posts {
  border: 1px solid black;
  margin-bottom: 5vh;
  margin-top: 5vh;
  height: 490px;
  background-color: white;
  width: 100%;
  margin-left: 40%;
  margin-right: auto;
  border-radius: 20px;
}

#PostsPic img {
  border-radius: 50px;
  margin-left: 3%;
  margin-top: 2%;
}

#PostsPic {
  display: flex;
  margin-bottom: 10px;
  margin-top: 5px;
}

.PostId {
  padding-top: 5%;
  padding-left: 2%;
  font-family: "Inter";
  font-size: 1.5rem;
}

.PostsText {
  padding-left: 5%;
  padding-bottom: 3%;
  /* background-color: lightskyblue; */
  border-radius: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

#PostLikes {
  padding-right: 5%;
  display: flex;
  justify-content: right;
}

#postBody {
  /* background-color: rgb(79, 146, 173); */
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10%;
}

#postsSize {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
